@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-container: 0px;
  --background-generico: linear-gradient(121deg, rgba(42,42,42,1) 9%, rgba(28,28,28,1) 62%, rgba(17,17,17,0.9836309523809523) 100%);
  --backgroud-separador: linear-gradient(121deg, rgba(19,19,19,1) 9%, rgba(42,42,42,1) 62%, rgba(40, 40, 40, 1) 100%);
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  min-width: 300px;
  background-color:#00000033;
}


    .container {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      background-color: white;
      padding: var(--padding-container);
    }

    .miMain {
      display: block;
      grid-template-areas: 'misProductos'
                          'misMarcas';
    }

    #idNovedades-section {
      width: 100%;
    }


/* ----------------------------------------------------------------------------------------------*/
/* ESTILOS DE SEPARADOR DE SECCIONES */
/* ----------------------------------------------------------------------------------------------*/

.separador {
  background: var(--backgroud-separador);
  width: 100%;
  height: auto;
  margin-top: .5rem;
  padding: .2rem 1rem;
  color:rgb(218, 216, 216);
  display: inline-flex;
  align-items: center;
}

  .separadorAbrirCerrar {
  /*  transform: scaleY(0);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease; 
    max-height: 0;*/
    display: none !important;
  }

    .separadorCerrar {
      width: 2rem;
      height: auto;
      margin-right: 1rem;
      cursor: pointer;
      font-size: 1.1;
    }
     
    .separador H6 {
      margin: 0;
    }


/* ----------------------------------------------------------------------------------------------*/
/* ESTILOS DE SECCION SERVICIOS */
 /* ----------------------------------------------------------------------------------------------*/
 .misServicios { 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
      .itemServicio {
        display: flex;
        flex-direction: row;
        margin: 1rem;
      }
          .itemServicioInformacion {
             width: 50%;
            padding: .5rem;
          }
                  .itemServicioInformacionTitulo1 {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                    font-weight: bolder;
            
                      color: white;
                      text-shadow: 2px 2px 4px #000000;

                  }

                  .itemServicioInformacionTitulo2 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    font-weight: bold;
                  }

                  .botonServicio {
                    margin-top: 2rem;
                    margin-right: 1rem;
                  }
                        .botonServicio a {
                          text-decoration: none;
                          width: 50%;
                          border-radius: 5px;
                          border: 1px solid black;
                          padding: .5rem;
                          cursor: pointer;
                          font-size: .8rem;
                          background-color: #282828;
                          color: white;
                        }
                              .botonServicio a:hover {
                                background-color: rgb(83, 83, 83);
                              }
                              
          .itemServicioVideo {
            width: 50%;
            height: auto;
            box-shadow: 6px 10px 70px 0px rgba(0, 0, 0, 0.75) ;
            padding: 0px;
            background-color: rgba(0, 0, 0, 0.2);
       
          }

                .itemServicioVideo iframe {
                    /*width="683" height="384" */
                  width: 100%;
                  padding: 0px;
                  height: 23rem;
                  margin: auto;
                }

/* ----------------------------------------------------------------------------------------------*/
/* ESTILOS DE SELECCION DE PRODUCTOS */
/* ----------------------------------------------------------------------------------------------*/

/* Seleccion x Marca */

.selMarcas {
background-color: transparent;
}

#idListaMarcas{
  background-color: rgb(0 117 255);
  color: white;
  border-radius: 5px;
  padding: 1px 5px;
};
        #idListaMarcas:hover {
          box-shadow: 1px 1px 8px #d3cbcb !important;
        }

        #idListaMarcas:focus {
          box-shadow: 1px 1px 8px #d6d1d1 !important;
          border-color: #c7cec7;
        }

    #idListaMarcas option{
      color: white;
      background-color: #2e2e2e
    };

    .selItemMarca{
      background-color: rgb(30, 19, 184)
    }; 

    .selItemMarcaCant{
      background-color: green;
      color: green !important;
    };
                

/* ----------------------------------------------------------------------------------------------*/
/* ESTILOS DE SECCION PRODUCTOS */
/* ----------------------------------------------------------------------------------------------*/



#idProductos {
  display: block;
}

    #idProductos .separador {
      line-height: 2rem;
    }

    #idSeleccionYdatos {
      width: 100%;
      display: flex;
      flex-direction: row;
      text-align: center;
    }

          #idSeleccionProducto {
            display: none;
            width: 20%;
            background-color:#2e2e2e;
          }
                #idSeleccionProducto.active {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                }

          #idFiltroProductos {
            margin-left: 1rem;
            cursor: pointer;
            font-size: 1rem;
          }
                #idFiltroProductos.filtroProductoOcultar {
                  display: none;
                }
          
              .filtroAbrirCerrar {
                display: none;
                color: rgb(215, 215, 215);
                margin-right: .5rem;
              }

              .filtroAbrirCerrar.active {
                display: inline;
                color: white;
              }

              #idFiltroProductos .fa-filter {
                font-size: .8rem;
              }

         .selTipo {
          width: 100%;
          padding: .5rem 0rem;
          color: white;
          margin-top: 1rem; 
          font-size: .9rem;
          text-align: start;
          margin-left: 1rem;
        }

            ul > li {
              list-style: none;
              padding: 5px;
            }

            .selItemCategorias {
              margin-right: 5px;
              cursor: pointer;
            }

.misProductos {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  grid-area: misProductos;
  background-color: white;
}

  .misProductos.selNoActive {
    width: 100%;
  }

      .item {
        height: 100%;
        width: auto;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: .5s;
        }
            .itemVer {
              cursor: pointer;
              font-size: 1.2rem;
              /*margin-left: 1rem;*/
              width: 100%;
              border-radius: 5px;
              padding: 2px 5px;
            }
              .itemVer:hover {
                background-color: #181616;
                color: white;
              }

            .itemPrecio {
              font-size: 1.2rem;
              color: blue;
            }

            .itemRodado, .itemMarca {
              font-size: .9rem;
              margin-left: 1rem;
            }
            .itemCategoria {
              font-size: .8rem;
            }

            .itemRodadoMarca, .itemCategoriaVer {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
            }

        

          .item:hover {
            box-shadow: 6px 10px 70px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 6px 10px 70px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 6px 10px 70px 0px rgba(0, 0, 0, 0.75);
            transform: translateY(5px) scale(1.4);
            cursor: pointer !important;
          }

          .item > img {
              width: 80%;
              height: auto;
              margin: auto;
              border-radius: 2rem ;
              object-fit: cover;
              align-items: center;
          }

          .item.itemCategoria {
            text-align: center;
          }

/* ----------------------------------------------------------------------------------------------*/
/* ESTILOS DE SECCION MARCAS */
/* ----------------------------------------------------------------------------------------------*/

.misMarcas {
  background-color:rgba(42,42,42,1);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x:hidden;
  scroll-behavior: auto;
}
    .marca {
      width: auto !important;
      height: auto;
      background-color: rgba(42,42,42,1);
      object-fit: contain;
      align-items: center;
      /*padding: 0 10px;
      margin: 1rem 0.3rem;*/
      cursor: pointer;
      border-radius: 2px;
    }

      .marca > img {
        scale: .7
      }

/* ----------------------------------------------------------------------------------------------*/
/* ESTILOS DE VENTANA MODAL - AMPLIAR IMAGEN */
/* ----------------------------------------------------------------------------------------------*/

#idVentanaModalContainer {
  position: fixed;
  top:0;
  left:0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9998;
  overflow: hidden;
  display: none;
  background-color: rgba(116, 101, 101, 0.753);
}

      .ventanaModalMostrar {
        display:block !important;
      }

.ventanaModal {
  width: 60%;
  height: auto;
  margin: 5% auto;
  position: relative; 
  vertical-align:middle;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.);
  border-radius:  15px; 
  z-index: 9999;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-center;
  animation: myAnimModal 1s ease 0s 1 normal forwards;
}

     #imagenDetalleModal {
        width: 62%;
        height: auto;
        object-fit: scale-down;
        margin: .5rem .1rem;
       }

      #informacionDetalleModal {
        width: 33%;
        height: auto;
       
        font-size: .9rem;
        text-align: center;
        padding-top: 50px;
      }
      
      #informacionDetalleModal img {
        width: 8rem;
      }

        .detModalTexto {
          margin-top: 5px;
          text-align: center;
        }

            .detModalTexto1 {
              color:black;
            }
            .detModalTexto2 {
              color:blue;
            }
            .detModalTexto3 {
              color: black;
              margin-top: 2rem ;
            }
            .detModalTexto4 {
              color:black;
            }
            .detModalTexto5 {
              color:black;
              margin-top: 2rem ;
              font-size: .8rem;
              font-weight: bold;
             /*position:absolute;*/
              bottom: 0;
              right: 1rem;
            }

       

      #idBotonCerrarDetalleModal {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
       }
            #idBotonCerrarDetalleModal>svg:hover {
                color: rgb(196, 190, 190);
            }
                




/* ----------------------------------------------------------------------------------------------*/
/* MEDIA QUERYS */
/* ----------------------------------------------------------------------------------------------*/

/* CORTE 1  
   - Productos de 4 columnas a 3 columnas 
   - Servicio de horizontal a vertical */
@media all and (max-width: 790px) {

        .misProductos {
          grid-template-columns: 1fr 1fr 1fr;
        }

        #idSeleccionProducto {
          font-size: .8rem;
        }

        .ventanaModal {
          width: 80%;
        } 

        .itemServicio {
          flex-direction: column;
        }
        .itemServicioInformacion {
          width: 100%
        }
        .itemServicioVideo {
          width: 100%;
          margin: auto;
          margin-top: 1rem;
        } 

        .ventanaModalMostrar {
          flex-direction: column;
          justify-content: center;
        }
        #imagenDetalleModal {
          width: 100%;
        }
        #informacionDetalleModal {
          width: 100%;
        }
     
     
}

/* CORTE 2  
   - La seleccion de productos arriba e imagenes de productos abajo */ 
@media all and (max-width: 750px) {
    #idSeleccionYdatos {
      flex-direction: column;
    }
    #idSeleccionProducto {
      width: 100%;
    }
    .misProductos {
      width: 100%;
    }
    #idSeleccionProducto.active {
       flex-direction: row;
      }
}

/* CORTE 3  
   - Productos de 3 columnas a 2 columnas  */ 
@media all and (max-width: 550px) {
      .misProductos {
        grid-template-columns: 1fr 1fr;
      }
      #idSeleccionProducto.active {
        flex-direction: column;
       } 
      .ventanaModal {
        width: 90%;
      } 
}

/* CORTE 4  
   - Productos de 2 columnas a 1 columna  */ 
@media all and (max-width: 400px) {
  .misProductos {
    grid-template-columns: 1fr;
  }
  
  .ventanaModal {
    width: 90%;
  } 

  .item:hover {
    transform: scale(1.1);
  }

}
