@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-container: 0px;
  --background-generico: linear-gradient(121deg, rgba(42,42,42,1) 9%, rgba(28,28,28,1) 62%, rgba(17,17,17,0.9836309523809523) 100%);
  --backgroud-separador: linear-gradient(121deg, rgba(19,19,19,1) 9%, rgba(42,42,42,1) 62%, rgba(40, 40, 40, 1) 100%);
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  min-width: 300px;
}

.miHeader {
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--background-generico);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
  padding: var(--padding-container);
}

.miHeader_nav {
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 'nav_logo   nav_central  nav_central nav_usuario'
                       'nav_menu   nav_menu  nav_menu    nav_menu';
}

    .nav_logo {
      grid-area: nav_logo;
      display: flex;
      align-items: flex-end;
      justify-content: start;
    }

        .nav_img_logo {
          margin: 0;
          height: calc(3rem + .5vh);
          object-fit: cover;
        }

        .nav_logo > h2 {
          color: rgb(172, 171, 171);
        }
    
        
    .nav_central {
      grid-area: nav_central;
      text-align: center;
      background: transparent;
      color: rgb(150, 149, 149);
      margin: auto;
      width: 100%;
      padding: 0;
    }

    .nav_usuario {
      grid-area: nav_usuario;
      text-align: end;
      cursor: pointer;
      margin-right: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
    }
        
        .nav_usuario_crear, .nav_usuario_login {
          margin: 5px;
          text-decoration: none;
          font-size: .8em;
          color: white;
          cursor: pointer !important;
        }

.nav_menu {
  grid-area: nav_menu;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

    .nav_img {
      align-self: flex-start;
      margin: 0.5rem;
      display: none;
      cursor: pointer;
      background-color: rgb(121,121,121);
      border: 1px solid black;
      border-radius: 5px;
      width: auto;
    }
        .nav_img > img {
          scale: 1.1;
        }

    .nav {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      width: auto;
      background-color: transparent;
    }
    
  



.nav_item {
  padding: 0 5px;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0);
  border-color: transparent !important;
}

.nav_item>a {
  color: rgb(210, 210, 210);
}

.nav-link {
  color: rgb(210, 210, 210) !important;
}

.nav_item:hover>a {
  color: rgb(256, 256, 256);
  transform: scale(1.1)
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgb(41, 41, 41);
  /*background: var(--backgroud-separador)*/
}

  .dropdown-item {
    color: white;
  }

  .dropdown-menu >li>hr {
    color: white;
  }

.dropdown:hover {
  transition: all .3s;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.dropdown:hover .dropdown-toggle::after {
  transform: translateY(8px);
}

.nav_link_menu {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  text-decoration: none !important;
  cursor: pointer;
  color: white !important;
}

.nav_close {
  display: none
}

/*
.separador {
  background: var(--backgroud-separador);
  width: 100%;
  height: auto;
  margin-top: .5rem;
  padding: .4rem 1rem;
  color:rgb(218, 216, 216);
  display: inline-flex;
  align-items: center;
}

  .separadorAbrirCerrar {
    transform: scaleY(0);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    max-height: 0;
  }

    .separadorCerrar {
      width: 2rem;
      height: auto;
      margin-right: 1rem;
      cursor: pointer;
      background-color: rgb(80, 79, 79);
      border-radius: 30%;
    }
     
      #idImgSeparadorAbrirCerrar {
        scale: 1.1
      }
*/


.min-footer {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(40,40,40,1);
}

    .col-left,
    .col-right {
      width: 50%;
    }

    .redes {
      display: flex;
      justify-content: start;
      align-items: flex-end;
    }

.grid-item {
  background-color: black;
  border-radius: 5px;
  font-size: 1.5em;
  width: 1.3em;
  display: inline-flex;
  justify-content: center;
  margin: 0.1em;
}

.miFooterDerechos {
  width: 100%;
  height: 2rem;
  background-color: black;
  color:rgb(218, 216, 216);
  font-size: .8rem;
  padding: .3 rem;
  padding-right: 1rem;
  text-align: right;
}


/* MEDIA QUERYS */

@media all and (max-width: 790px) {

        .nav-menu {
          justify-content: start !important;
        }

        .nav {
          align-self: flex-start;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;
          background: var(--background-generico);
        }

        .nav_img {
          display: block;
        }
        
        .miHeader_nav {
          display: grid;
        
          grid-template-columns: 30% 20% 20% 30%;
          grid-template-rows:    1fr, 1fr;
          grid-template-areas: 'nav_logo  nav_logo    nav_usuario  nav_usuario' 
                              'nav_menu  nav_central nav_central  xxxxxxxxxxx';
          height: 100px;                 
        }

        .nav_central {
          margin-top:0px
        }
}

    .nav_ocultar {
      display: none
    }


@media all and (min-width: 791px) {
  .nav {
    display: flex;
  }
  .nav_img {
    display: none;
  }
}