<<!doctype html>
    <html lang="en">

    <head>
        <title>Actualizar Novedad</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font-Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
        <!-- css para Header and Footer -->     
        <link rel="stylesheet" href="../css/style-template.css">

        <!-- css para Header and Footer -->     
        <link rel="stylesheet" href="./css/MNG_novedad-update.css">

    
    </head>

    <body>
        <header id="idHeader" class="miHeader container">
        </header>

        <main>
            <div class="container" id="app">
                <form class="frmModificar" id="frmModificar">
                    <div class="frmModificarTitulo">
                        <H4>Mantenimiento de Novedades</H4>
                        <h5>Editar Novedad</h5>
                    </div>
                    <div  class="frmModificarDatosFoto">
                        <div class="frmModificarDatos">
                  
                            <div class="mb-3">
                                <label for="id">Id</label>
                                <input type="number" name="id" id="id" disabled v-model="id">
                            </div>
                            <div class="mb-3">
                                <label for="codProducto">Id Producto</label>
                                <input v-on:change="cambioProducto()" type="number" name="codProducto" id="codProducto" v-model="codProducto">
                            </div>
                            <div class="mb-3">
                                <label for="imagenNovedad">Imagen</label>
                                <input type="text" name="imagenNovedad" id="imagenNovedad" v-model="imagenNovedad">
                             </div>
                            <div class="mb-3">
                                <label for="texto01">Texto 1</label>
                                <input type="text" name="texto01" id="texto01" v-model="texto01">
                            </div>
                            <div class="mb-3">
                                <label for="texto02">Texto 2</label>
                                <input type="text" name="texto02" id="texto02" v-model="texto02">
                            </div>
                            <div class="mb-3">
                                <label for="texto03">Texto 3</label>
                                <input type="text" name="texto03" id="texto03" v-model="texto03">
                            </div>
                            <div class="mb-3">
                                <label for="texto04">Texto 4</label>
                                <input type="text" name="texto04" id="texto04" v-model="texto04">
                            </div>
                            <div class="mb-3">
                                <label for="texto05">Texto 5</label>
                                <input type="text" name="texto05" id="texto05" v-model="texto05">
                            </div>
                        
                        </div>
                        <div class="frmModificarFoto">
                            <img :src="imagenNovedad" :alt="imagenNovedad">
                        </div>
                    </div>
                        <div class="frmModificarBotones">
                            <button type="button" class="btn btn-success" v-on:click="modificar()">Actualizar</button>
                            <button type="button" class="btn btn-danger" v-on:click="salir()">Salir</button>
                        </div>
                     </div>
                 </form>
            </div>
        </main>

        <footer id="idFooter" class="miFooter">
            <!-- place footer here -->
        </footer>

        <!--Carga jquery--> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
        <!--Carga el template de Header y Footer -->
        <script src="../js/script-template.js"></script>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"> </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"> </script>
      
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/MNG_novedad-edit.js"></script>
    </body>

    </html>