<<!doctype html>
    <html lang="en">

    <head>
        <title>Eliminar Producto</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font-Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
        <!-- css para Header and Footer -->     
        <link rel="stylesheet" href="../css/style-template.css">

        <!-- css para Header and Footer -->     
        <link rel="stylesheet" href="./css/MNG_producto-delete.css">

    
    </head>

    <body>
        <header id="idHeader" class="miHeader container">
        </header>

        <main>
            <div class="container" id="app">
                <form class="frmModificar" id="frmModificar">
                    <div class="frmModificarTitulo">
                        <H4>Mantenimiento de Productos</H4>
                        <h5>Eliminar Producto</h5>
                    </div>
                    <div  class="frmModificarDatosFoto">
                        <div class="frmModificarDatos">
                  
                            <div class="mb-3">
                                <label for="id">Id</label>
                                <input type="number" name="id" id="id" disabled v-model="id">
                            </div>
                            <div class="mb-3">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" disabled v-model="nombre">
                            </div>
                            <div class="mb-3">
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio" disabled v-model="precio">
                            </div>
                            <div class="mb-3">
                                <label for="stock">Stock</label>
                                <input type="number" name="stock" id="stock" disabled v-model="stock">
                            </div>
                            <div class="mb-3">
                                <label for="imagen">Imagen</label>
                                <input type="text" name="imagen" id="imagen" disabled v-model="imagen">
                             </div>
                            <div class="mb-3">
                                <label for="categoria">Categoria</label>
                                <input type="text" name="categoria" id="categoria" disabled v-model="categoria">
                            </div>
                            <div class="mb-3">
                                <label for="marca">Marca</label>
                                <input type="text" name="marca" id="marca" disabled v-model="marca">
                            </div>
                            <div class="mb-3">
                                <label for="rodado">Rodado</label>
                                <input type="text" name="rodado" id="rodado" disabled v-model="rodado">
                            </div>
                        </div>
                        <div class="frmModificarFoto">
                            <img width="150" :src="imagen" :alt="imagen">
                        </div>
                    </div>
                        <div class="frmModificarBotones">
                            <button type="button" class="btn btn-success" v-on:click="eliminar()">Eliminar</button>
                            <button type="button" class="btn btn-danger" v-on:click="salir()">Salir</button>
                        </div>
                     </div>
                 </form>
            </div>
        </main>

        <footer id="idFooter" class="miFooter">
            <!-- place footer here -->
        </footer>

        <!--Carga jquery--> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
        <!--Carga el template de Header y Footer -->
        <script src="../js/script-template.js"></script>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"> </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"> </script>
      
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/MNG_producto-delete.js"></script>
    </body>

    </html>